.App {
  text-align: center;
}
.canvas-container {
  position: relative;
}

.color-palette {
  display: flex;
  background: aliceblue;
  border: 1px solid grey;
  border-radius: 4px;
  margin: 4px;
  padding: 4px;
}

.color-block {
  height: 40px;
  width: 40px;
  border: 1px solid black;
}

.tools-container {
  float: right;
  display: flex;
}

.tool-box {
  margin: 4px;
  border: 1px solid grey;
  padding: 6px;
  background: aliceblue;
}

.tool {
  width: 30px;
  height: 30px;
}

.side-bar {
  display: flex;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
