.App {
  text-align: center;
}
.canvas-container{
  display: flex;
}
  
.color-palette {
  display: flex;
}

.color-block{
  height: 40px;
  width: 40px;
  border: 1px solid black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
