.App {
  text-align: center;
}
.canvas-container {
  position: relative;
}

.color-palette {
  display: flex;
}

.color-block {
  height: 40px;
  width: 40px;
  border: 1px solid black;
}

.tools-container {
  display: flex;
}

.tool-box {
  margin: 4px;
  border: 1px solid black;
}

.tool {
  width: 40px;
  height: 40px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
